<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BankAccManagement" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bank Account Management</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
         <!--  <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", "/path2"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Signed in as  #{current_user.email}", "" %></li>
              <li><%= link_to "  Sign out", destroy_user_session_path, :method => :delete, class:"fa fa-sign-out" %></li>
            <% else %>
              <li><%= link_to "  Sign In", new_user_session_path, class:"fa fa-sign-in" %> </li>
              <li><%= link_to "  Sign up", new_user_registration_path, class:"fa fa-sign-up" %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3 acc_sidebar">
          <% if current_user %>
            <h3>Bank Transactions</h3>
            <ul class="nav nav-list">
              <!-- <li class="nav-header">Sidebar</li> -->
              <li><%= link_to "Deposite", deposite_account_path(params[:id])  %></li>
              <li><%= link_to "Withdraw", withdraw_account_path(params[:id])  %></li>
              <li><%= link_to "Transfer", transfer_account_path(params[:id])  %></li>
              <li><%= link_to "Statements", statement_account_path(params[:id])  %></li>
              <li><%= link_to "My Accounts", accounts_path  %></li>
            </ul>
          <% end %>

          <div  style="padding-top: 20px;font-size: 18px;color: green;">Current Balance </br>Rs: <span id="current_balance"><%= current_balance(params[:id]) %>/-</span></div>

          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <!-- <footer>
        <p>&copy; Company 2017</p>
      </footer> -->

    </div> <!-- /container -->

  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    setInterval(function(){
        $("#current_balance").fadeToggle(1000);
    }, 1500);
  });

</script>